@use "../global.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainly {
    margin-top: 100px;
  #breaking {
    .plugin {
      position: relative;
      .locate1 {
        position: absolute;
        top: 0;
        left: 0;
      }
      .locate2 {
        position: absolute;
        top: 0;
        right: 0;
      }
      h2 {
        padding-top: 50px;
        padding-bottom: 25px;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: #232536;
      }
      .plugin-text {
        font-family: "Poppins";
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #232536;
        opacity: 0.87;
      }
      .flex {
        display: flex;
        align-items: center;
        gap: 20px;
        .name {
          font-family: "Poppins";
          margin-bottom: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #232536;
          opacity: 0.87;
        }
        .date {
          font-family: "Poppins";
          margin-bottom: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #232536;
          opacity: 0.6;
        }
        .line {
          margin-bottom: 0;
        }
      }
    }
  }
  #picture {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  #transform {
    margin-top: 100px;
    margin: 0 auto;
    width: 60%;
    
    h2 {
      font-family: "Poppins";
      
      margin-bottom: 25px;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #232536;
    }
    p {
      font-family: "Poppins";
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #232536;
    }
    h4 {
      font-family: "Poppins";
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #232536;
    }
  }
  footer {
    margin-top: 100px;
    .paresh {
      padding-bottom: 100px;
      margin-bottom: 100px;
      background-color: #666dff;
      display: flex;
      position: relative;
      gap: 130px;
      .paresh-shapes {
        position: absolute;
        top: 0;
        left: 0;
      }
      .paresh-line{
        position: absolute;
        right: 0;
      }
      .subscribe {
        .subscribe-news {
          padding-top: 100px;
          padding-left: 100px;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ffffff;
        }
        .subscribe-letter {
          padding-top: 10px;
          padding-left: 100px;
          font-family: "Poppins";
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          color: #ffffff;
        }
      }
      .pixeto {
        padding-top: 180px;
        input {
          padding: 12px 20px;
          width: 100%;
        }
      }
    }
    .special {
      display: flex;
      gap: 100px;
      position: relative;
      .special-corner {
        position: absolute;
        top: 0;
        left: 0;
      }
      .make {
        margin-top: 60px;
        h2 {
          font-family: "Poppins";
          margin-bottom: 40px;
          font-weight: 600;
          font-size: 48px;
          line-height: 58px;
          color: #232536;
        }
        .talk {
          font-family: "Poppins";
          margin-bottom: 30px;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #232536;
        }
        .number a {
          font-family: "Poppins";
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #232536;
        }
        a {
          font-family: "Poppins";
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #232536;
        }
      }
      .special-wrap {
        display: flex;
        margin-top: 66px;
        .wrap-list {
          padding-right: 60px;
          .list {
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #232536;
            a {
              color: #232536;
            }
          }
        }
        .wrap-list_2 {
          padding-right: 80px;
          .list {
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #232536;
            a {
              color: #232536;
            }
          }
          .inside {
            display: flex;
            gap: 5px;
            padding-bottom: 12px;
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #232536;
            a {
              color: #232536;
            }
          }
          .inside_n {
            display: flex;
            gap: 5px;
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #232536;
            a {
              color: #232536;
            }
          }
          li {
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #232536;
            a {
              color: #232536;
            }
          }
        }
        .wrap-list_3 {
          padding-right: 120px;
          .list {
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #232536;
            a {
              color: #232536;
            }
          }
          .inside {
            display: flex;
            gap: 5px;
            padding-bottom: 12px;
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #232536;
            a {
              color: #232536;
            }
          }
          li {
            font-family: "Poppins";
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #232536;
            a {
              color: #232536;
            }
          }
        }
      }
    }
    .india {
      display: flex;
      justify-content: space-between;
      p {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #232536;
      }
      .img {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          color: #232536;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #232536;
        }
        p {
          margin-bottom: 0;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #232536;
        }
      }
    }
  }
}
