@use "../global.scss";
* {
    font-family: "Poppins", sans-serif;
  }
  .enter-p {
    font-weight: 500;
    font-size: 0.875rem;
    color: #232536;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .huge-h {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.625rem;
    color: #232536;
  }
  .middle-h {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #232536;
  }
  .main-p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #232536;
    opacity: 0.6;
  }
  .card-h {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #000000;
  }
  .card-num-p {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #232536;
    opacity: 0.2;
  }
  .desc-enter {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
    opacity: 0.87;
  }
  .team-card-h {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
  }
  .team-card-p {
    color: #fff;
    opacity: 0.7;
  }
  @media screen and (max-width: 576px) {
    .enter-p {
      font-size: 0.775rem;
  
      letter-spacing: 2px;
    }
    .huge-h {
      font-size: 2.2rem;
      line-height: 2.825rem;
    }
    .middle-h {
      font-size: 1.68rem;
      line-height: 2.575rem;
    }
    .main-p {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
  
    .desc-enter {
      font-size: 1.25rem;
      line-height: 2rem;
    }
    .team-card-h {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
    }
    .team-card-p {
      color: #fff;
      opacity: 0.7;
      font-size: 11px;
    }
  }
  
  //   home
  
  #home {
    margin: 60px 0;
  }
  .square {
    width: 28px;
    height: 28px;
    background-color: #ffd3af;
  }
  .max-w {
    max-width: 730px;
  }
  // story
  #story {
    margin-bottom: 60px;
    .blue,
    .pink,
    .orange {
      height: 5px;
    }
    .blue {
      background-color: #444cfc;
    }
    .pink {
      background-color: #ffd3af;
    }
    .orange {
      background-color: #ffa155;
    }
  }
  .story-right {
    background-color: rgba(255, 211, 175, 0.57);
  }
  
  .statistics {
    padding-top: 30px;
  }
  .logo-row {
    background-color: #fafafc;
    img {
      max-width: 186px;
    }
  }
  // expertise
  #expertise {
    padding: 60px 0;
    background-color: #ecf8f9;
  
    .blue,
    .apelsin,
    .light-aplesin {
      height: 7px;
      background-color: transparent;
      transition: ease-in-out 0.2s;
    }
  
    .inner-card:hover {
      .apelsin {
        background-color: #ffa155;
      }
      .light-aplesin {
        background-color: #ffd3af;
      }
      .blue {
        background-color: #444cfc;
      }
    }
    .benefit-card {
      background-color: #fff;
    }
  }
  
  // vision
  #vision {
    padding: 60px 0;
  }
  .maxW {
    max-width: 660px;
  }
  .maxW2 {
    max-width: 460px;
  }
  .socials {
    padding: 0;
    img {
      max-width: 20px;
    }
  }
  .team-card {
    overflow: hidden;
    position: relative;
    // transition: all 1s;
    &:hover .teammate-info {
      transition: all 0.8s;
      bottom: 0;
      top: 0;
      background-color: #232536c7;
    }
  }
  .teammate-info {
    position: absolute;
    bottom: -200px;
  }
  .info-all {
    position: absolute;
    bottom: 14px;
  }