.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after,
.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after {
  display: none;
  clear: both;
  content: "";
}

nav {
  margin-bottom: 80px;
}

.dropdown-toggle::before {
  display: none;
}

.navbar {
  padding: 0 0 22px 0;
}

.navbar-shrink {
  z-index: 99;
  .navbar {
    padding: 0 0 15px 0;
    transition: 0.5s;
  }
  .bg-body-tertiary {
    box-shadow: 0 3px 3px 0 rgba($color: rgb(156, 159, 243), $alpha: 1);
  }
}

.bg-body-tertiary {
  background-color: #232536 !important;
}

.custom-droplink {
  transition: 0.3s;
  &:hover,
  &:focus {
    color: #232536;
  }
}

.navbar-brand {
  img {
    margin-top: 25px;
  }
}

.custom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  translate: 0.3s;
  .nav-hover__topline {
    width: 55px;
    opacity: 0;
    border-top: 3px solid #ffa155;
  }
  &:hover {
    .nav-hover__topline {
      opacity: 1;
    }
    .custom-navlink {
      color: #ffffff !important;
    }
  }
}

.custom-navlink {
  padding: 0 20px !important;
  @media (max-width: 992px) {
    padding: 10px 0 !important;
  }
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: rgb(255, 255, 255, 0.6);
  transition: 0.3s;
}

.navbar-btn {
  margin-top: 30px !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #ffd3af;
  transition: 0.3s;
  &:hover {
    color: rgb(255, 211, 175, 0.5);
  }
}

.offcanvas {
  visibility: hidden;
  background-color: #232536;
}

.btn-close {
  color: grey;
  &:focus {
    box-shadow: 0 0 0 0.25rem #3b3b3b40;
  }
}

.navbar-toggler {
  margin-top: 25px !important;
  &:focus {
    box-shadow: 0 0 0 0.1rem #3b3b3b40;
  }
}
.navbar-toggler-icon {
  background-image: url(../../images/header/nav-menu.svg) !important;
  color: transparent !important;
}

.btn-close {
  margin-top: 15px !important;
  --bs-btn-close-bg: url(../../images/header/nav-close.svg);
  font-size: 25px;
  color: white;
  transition: 0.3s;
}
